.gangsters {
  // display: grid;
  // max-width: 90rem;
  // margin: 0 auto;
  // padding: 6rem;
  margin: 0;
  padding: 0;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 4rem;
  list-style-type: none;
}
